 // It adds additional features to what CSS has to offer, just to make it a little bit more
 //powerful for us to be able to use and manipulate CSS in a way that's going to be faster and remove some of the repetition
 //that we might have had in CSS previously. 
 // scss is supports the variables

 $color:pink;

 ul{
    font-size: 14px;
    color: $color;
}
ol{
    font-size: 18px;
    color:$color;
}
